<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{error}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        {% block errormessage %}{% endblock errormessage %}
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="/" role="button">Return home?</a>
    </div>
</body>
</html>